@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    font-family: sans-serif;
}

header, footer {
    height: 450px;

    background-color: black;
    background-image: url(../imgs/wallpaper3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
    opacity: 0.70; 

    position: relative; 
}

section {
    position: relative;
}

section.conteudo_diferente {
    background-color: #e7e6e6;
    padding: 80px;
    opacity: 0.60;
    line-height: 30px;
}

section.conteudo{
    color: #ddd;
    background-color: #282E34;

    padding: 80px;

    line-height: 30px;
}

h3 {
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

header > h2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 400px;
    margin: auto;

    letter-spacing: 8px;
    padding: 18px;

    background-color: #111111;
    color: #ffffff;

    text-align: center;
}

footer > h2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 400px;
    margin: auto;

    letter-spacing: 8px;
    padding: 18px;

    background-color: #111111;
    color: #ffffff;

    text-align: center;
}

section.imagem > h2 {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 400px;
    margin: auto;

    letter-spacing: 8px;
    padding: 18px;

    color: #ffffff;

    text-align: center;
}

#imagem1{
    opacity: 0.70; 
    height: 450px;

    background-image: url(../imgs/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

#imagem2 {
    opacity: 0.70; 
    height: 450px;

    background-image: url(../imgs/wallpaper1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    opacity: 0.70;
}